<h2 class="mb-3 fs-3">
  <%= link_to "◂", @page, class: "p-1 text-decoration-none text-dark rounded hover-bg" %>
  Edit page
</h2>

<%= render "form", page: @page %>

<br>

<div>
  <%= button_to "Destroy this page", @page, method: :delete %>
  <%= link_to "Show this page", @page %> |
  <%= link_to "Back to pages", pages_path %>
</div>
